---
// Style Imports
import '../styles/global.css';
import '@fontsource/source-sans-pro';
import '@fontsource/pixelify-sans';
import '@fontsource/ibm-plex-mono';
import '@fontsource/work-sans';
import '@fontsource/cormorant-garamond';
import '@fontsource/spectral';
import '@fontsource/crimson-pro';
import '@fontsource/alfa-slab-one';

// common.min.css is distributed with agnostic-react
// and agnostic-svelte too. But, since we're using all
// of these together, we only need to import global CSS
// once and in one place.
// common.min.css combines properties, resets, utilities
// import "agnostic-vue/dist/common.min.css";
// But!! Rob much prefers individual modular import ;)
import "agnostic-vue/dist/common.properties.min.css";
import "agnostic-vue/dist/common.resets.min.css";
import "agnostic-vue/dist/common.utilities.min.css";
import "agnostic-vue/dist/opinions.min.css";


// Component Imports
import "agnostic-vue/dist/index.css";
import TAPHeader from '../components/TAPHeader.vue';
import TAPFooter from '../components/TAPFooter.vue';
// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = `${Astro.props.title} - GGC Technology Ambassadors Program`;
let description = `The Technology Ambassadors Program (TAP) aims to increase the number of students who persist in technology fields, particularly those underrepresented in computing. We provide fun and engaging technology activities for K-12 and college classrooms and outreach events. These activities were developed in a college-level service learning course that provides scholarship, leadership, service, and creativity skills.`;
let bodyClass = Astro.props.class;

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="k-12, college, outreach, technology, fun, enagaging, coding, programming, undergraduate">
	<meta name="description" content={description}>
	<meta name="author" content="Technology Ambassadors Program (TAP)">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{title}</title>

	<meta property="og:title" content={title}>
	<meta property="og:type" content="website">
	<meta property="og:locale" content="en_US">
	<meta property="og:url" content="https://tapggc.org">
	<meta property="og:description" content={description}>
	<meta property="og:image" content="https://tapggc.org/images/tap-logo-light.png">

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<!-- Google tag (gtag.js) -->
	<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-L6HGVGHGF3"></script>
	<script type="text/partytown">
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-L6HGVGHGF3');
	</script>

	
	
</head>

<body>
	<TAPHeader client:load />
	
	  
	<main>
        <slot/>
	</main>


	<TAPFooter client:load />

</body>
</html>

</script>
